textarea {
    resize: none;
}

::-webkit-input-placeholder {
   color: #7B7B7B !important;
   font-family: ProximaNovaLight, sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   color: #7B7B7B !important;  
   font-family: ProximaNovaLight, sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #7B7B7B !important;  
   font-family: ProximaNovaLight, sans-serif;
}

:-ms-input-placeholder {  
   color: #7B7B7B !important;  
   font-family: ProximaNovaLight, sans-serif;
}

.unid_cont_item_act {
	display: inline-block;
	background: #FFF;
	width: 92.8%;
	max-width: 93%;
	height: 60px;
	border: 1px solid #F2F2F2;
	box-shadow: 0px 2px 1px #C7C7C7;
	margin-top: 10px;
}

.unid_cont_item_act_contac {
	display: inline-block;
	background: #FFF;
	width: 92.8%;
	max-width: 93%;
	box-shadow: 0px 2px 1px #C7C7C7;
	border-bottom: 1px solid #DDD;
	margin-top: 10px;
}

.unid_cont_item_act_contac .cont_item_contend_uni_emp:last-child{
	padding-bottom: 5px;
}

.cont_item_contend_uni_emp:last-child .sec_cont_item_mid, .cont_item_contend_uni_emp:last-child .sec_cont_item_der,
.cont_item_contend_uni_per:last-child .sec_cont_item_mid, .cont_item_contend_uni_per:last-child .sec_cont_item_der{
	border-bottom: none;
}

.unid_cont_item_act_uni {
	display: inline-block;
	font-family: ProximaNovaLight, sans-serif;
	width: 92.8%;
	max-width: 93%;
	height: 36px;
	margin-top: 10px;
}

.unid_cont_item_act_uni_textarea {
	display: inline-block;
	width: 92.8%;
	max-width: 93%;
	margin-top: 10px;
}

.unid_cont_item_act_uni_sep {
	display: inline-block;
	width: 85%;
	max-width: 93%;
	height: 10px;
	margin-top: 20px;
}

.unid_cont_item_act_uni_sep section{
	border-bottom: 1px solid #AAA;
}

.unid_cont_item_act_uni_sep div{
	color: #4a4a4a;
	width: 30%;
	display: inline-block;
	font-size: 12px;
	margin-top: -9px;
	background: #E5E5E5;
}

.sect_uno_item_izq {
	display: inline-block;
	width: 20%;
	height: 100%;
	vertical-align: top;
	font-family: ProximaNovaLight, sans-serif;
	text-align: left;
	border-right: 1px solid #DDD;
	margin-right: -1px;
	line-height: 1.2rem;
	color: #DF2047;
}

.sec_cont_item_izq {
	display: inline-block;
	padding: 0 20px;
	vertical-align: middle;
	font-family: ProximaNovaLight, sans-serif;
}

.sect_uno_item_izq_uni {
	display: inline-block;
	background: #FFF;
	width: 62%;
	height: 100%;
	vertical-align: top;
	font-family: ProximaNovaLight, sans-serif;
	text-align: left;
	margin-right: 3%;
	border-right: 1px solid #DDD;
	margin-left: -1px;
	line-height: 1.2rem;
	color: #DF2047;
}

.sect_uno_item_all_uni {
	display: inline-block;
	background: #FFF;
	width: 100%;
	height: 100%;
	vertical-align: top;
	font-family: ProximaNovaLight, sans-serif;
	text-align: left;
	border-right: 1px solid #DDD;
	margin-left: -1px;
	line-height: 1.2rem;
	color: #DF2047;
}

.sect_uno_item_all_uni .ui-input-text{
	width: 56% !important;
	display: inline-block;
}

.sect_uno_item_mid{
	display: inline-block;
	width: 70%;
	height: 100%;
	vertical-align: top;
	font-family: ProximaNovaLight, sans-serif;
	text-align: left;
}

.sec_cont_item_mid{
	border-bottom: 1px solid #DDD;
	display: inline-block;
	width: 100%;
	font-family: ProximaNovaLight, sans-serif;
	text-align: left;
	padding: 15px 0;
}

.sect_uno_item_mid_uni{
	display: inline-block;
	background: #FFF;
	width: 34%;
	height: 100%;
	vertical-align: top;
	font-family: ProximaNovaLight, sans-serif;
	text-align: left;
	color: #DF2047;
}

.sect_uno_item_der{
	display: inline-block;
	width: 10%;
	height: 100%;
	vertical-align: top;
	font-family: ProximaNovaLight, sans-serif;
	text-align: left;
}

.sec_cont_item_der{
	display: inline-block;
	width: 10%;
	height: 100%;
	vertical-align: middle;
	font-family: ProximaNovaLight, sans-serif;
	text-align: left;
	border-bottom: 1px solid #DDD;
}

.div_fecha_act_top{
	font-size: 25px;
	text-align: center;
	padding-top: 15px;
}

.div_fecha_act_bot{
	font-size: 13px;
	text-align: center;
}

.div_fecha_act_top_uni{
	display: inline-block;
	width: 19%;
	font-size: 17px;
	text-align: center;
	padding: 10px 0 0 5px;
	vertical-align: top;
}

/*.sec_cont_item_izq_ico {
	background: #df2047;
	display: inline-block;
	width: 30%;
	font-size: 16px;
	text-align: center;
	margin: 10px 0 0 0;
	padding: 10px;
	vertical-align: top;
	border-radius: 20px;
	color: #FFF;
	text-shadow: none;
}*/

.div_fecha_act_bot_uni{
	display: inline-block;
	width: 78%;
	font-size: 16px;
	text-align: left;
	padding-top: 10px;
}

.div_fecha_act_top_der_uni{
	display: inline-block;
	width: 19%;
	font-size: 17px;
	text-align: center;
	padding: 10px 5px 0 10px;
	vertical-align: top;
}

.div_fecha_act_bot_der_uni{
	display: inline-block;
	width: 66%;
	font-size: 16px;
	text-align: left;
	padding-top: 10px;
}

.div_fecha_act_top_all_uni{
	display: inline-block;
	width: 12%;
	font-size: 17px;
	text-align: center;
	padding: 10px 0 0 5px;
	vertical-align: top;
}

.div_fecha_act_mid_all_uni{
	display: inline-block;
	width: 29%;
	font-size: 18px;
	text-align: left;
	padding-top: 10px;
	color: #7B7B7B;
}

.div_fecha_act_bot_all_uni{
	display: inline-block;
	width: 86%;
	font-size: 18px;
	text-align: left;
	padding-top: 10px;
	color: #7B7B7B;
}

.div_tipo_act_top{
	color: #df2047;
	font-size: 15px;
	padding-left: 10px;
	padding-top: 15px;
	padding-right: 10px;
}

.div_tipo_act_bot{
	font-size: 12px;
	padding-left: 10px;
}

.div_tipo_act_bot_izq{
	color: #df2047;
	display: inline-block;
}

.div_tipo_act_bot_der{
	color: #7B7B7B;
	display: inline-block;
}

.sect_uno_item_der input{
	left: 0;	
	top: 30px;
}

.fieldcontain-background .ui-btn-inner{
	background: #FFF !important;
	padding-left: 15px !important;
}

.fieldcontain-background .ui-btn-text{
	color: #7b7b7b;
	font-size: 18px;
	text-align: left;
}

.fieldcontain-background .ui-select{
	border-bottom: 1px #F00 solid;
}

#actividad_venta_ind .ui-select, #actividad_venta_ind_nuevo .ui-select{
	width: 100%;
}

#actividad_venta_ind input , #actividad_nuevo input{
   color: #7B7B7B !important;
   font-family: ProximaNovaLight, sans-serif;
}

.sect_uno_item_izq_uni .ui-input-text{
	width: 78% !important;
	display: inline-block;
}

.sect_uno_item_mid_uni .ui-input-text{
	width: 66% !important;
	display: inline-block;
}

.sect_uno_item_izq_uni .ui-input-text input, .sect_uno_item_mid_uni .ui-input-text input{
	width: 100% !important;
}

.fase_tit_sel{
	margin-bottom: 0 !important;
}

.div_textarea_act_mid_all_uni{
	display: inline-block;
	width: 29%;
	font-size: 18px;
	text-align: left;
	padding-top: 10px;
	color: #7B7B7B;
}

.sect_uno_item_all_uni .div_textarea_act_mid_all_uni{
	width: 84% !important;
	color: #7B7B7B !important;
	font-family: ProximaNovaLight, sans-serif;
	margin-top: 10px !important;
	height: 25px;
	margin-bottom: -6px !important;

}

.white-button
{
	text-align: center;
	display: inline-block;
    background: #FFF;
    color:#3b3b3b;
	font-size: 16px;
	text-shadow: none;
	padding: .5em 0;
	width: 30%;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.white-button:active, .white-button:hover
{
    background:#F5F0F0;
    color:#132b14;
}

.color-button{
	text-align: center;
	display: inline-block;
	background: #df2047;
    color:#FFF;
	font-size: 16px;
	text-shadow: none;
	padding: .5em 0;
	width: 30%;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.color-button:active, .color-button:hover
{
    background:#80172D;
    color:#fff;
}

.texto_alineado_der{
	text-align: right;
}

.btn-marg-der{
	margin-right: 10px;
}

.fase_tit_sel_act .ui-btn-inner{
	background: #df2047 !important;
	height: 30px !important;
}

.fase_tit_sel_act .ui-btn-text{
	color: #fff !important;
	text-align: center;
}

.fase_tit_sel_act_ind .ui-btn-inner, .fase_tit_sel .ui-btn-inner, .fase_tit_sel_act_ind_nuevo .ui-btn-inner{
	height: 30px !important;
}

.fase_tit_sel_act_ind {
	background: #FFF !important;
	height: 40px !important;
}

.fase_tit_sel_act_ind .fieldcontain-background {
	display: inline-block;
	width: 28%;
}

.fase_tit_sel_act_ind .ui-shadow, .fase_tit_sel_act_ind_nuevo .ui-shadow{
	border: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.fase_tit_sel_act_ind .ui-checkbox{
	width: 12%;
	top: -20px;
	display: inline-block;
	right: 5px;
}

.fase_tit_sel_act_ind .ui-input-text{
	width: 60%;
	display: inline-block;
	top: -12px;
	padding-bottom: 3px !important;
}

.sec_cont_item_izq_text {
	color: #313131; 
	font-size: 18px;
	padding-right: 10px;
}

.sec_cont_item_izq_flecha {
	display: inline-block;
	color: #DF2047;
	font-size: 18px;
}

.cont_item_contend_uni_emp, .cont_item_contend_uni_per{
	/*height: 60px;*/
	padding: 5px 20px 0 0;
	text-shadow: none;
}

.fase_tit_sel_act_ind_nuevo { 
	background: #FFF !important;
	height: 40px !important;
}

.fase_tit_sel_act_ind_nuevo .fieldcontain-background{
	display: inline-block;
	width: 28%;
}

.fase_tit_sel_act_ind_nuevo .ui-input-text {
	width: 63.6%;
	display: inline-block;
	top: -12px;
	padding-bottom: 3px !important;
	padding-right: 15px !important;
	padding-left: 10px !important;
}

.sec_cont_item_izq_nuevo {
	display: inline-block;
	width: 15%;
	height: 100%;
	vertical-align: top;
	font-family: ProximaNovaLight, sans-serif;
	text-align: center;
	margin-right: -1px;
	line-height: 1.2rem;
	color: #DF2047;
}

.sec_cont_item_mid_nuevo {
	display: inline-block;
	width: 80%;
	padding-right: 5%;
	height: 100%;
	vertical-align: top;
	text-align: left;
}

.sec_cont_item_izq_ico_nuevo, .vent_ind_det_izq_ico, .cont_ind_det_izq_ico {
	display: inline-block;
	font-size: 16px;
	text-align: center;
	margin: 10px 0 0 0;
	padding: 10px 5px;
	vertical-align: top;
	border-radius: 20px;
	color: #7d7d7d;
	text-shadow: none;
}

.sec_cont_item_izq_text_nuevo {
	color: #9c9c9c;
	font-size: 14px;
	padding-top: 20px;
	padding-right: 10px;
}

.sec_cont_item_mid_nuevo .ui-input-text{
	margin-top: 20px !important;
}

.sec_cont_item_mid_nuevo input{
	font-family: ProximaNovaLight, sans-serif;
	font-size: 14px;
}

.cont_div_nuevo{
	border-bottom: 1px solid #DDD;
	height: 10px;
	margin-top: 10px;
}

.vent_div_nuevo {
	margin: -28px 20px 5px;
}

.cont_item_contend_btn_nuevo{
	font-family: ProximaNovaLight, sans-serif;
	text-align: right;
}

.cont_item_contend_btn_nuevo div{
	text-align: right;
	font-size: 16px;
	color: #DF2047;
	padding: 2% 5%;
	display: inline-block;
	text-shadow: none;
}

.cont_item_contend_btn_nuevo span{
	text-align: right;
	font-size: 14px;
	color: #DF2047;
	padding: 2.5% 5%;
	display: inline-block;
	float: left;
}

.vent_ind_item_act {
	display: inline-block;
	background: #FFF;
	width: 92.8%;
	max-width: 93%;
	height: 36px;
	border: 1px solid #F2F2F2;
	box-shadow: 0px 2px 1px #C7C7C7;
	margin-top: 10px;
	overflow: hidden;
}

#punto-inicio, #punto-normal, #punto-final {
	-webkit-border-radius: 5px;
	border-radius: 15px;
	display: inline-block;
}

.punto-on{
	background: #df2047 !important;
	height: 16px;
	width: 16px;
	margin-top: 3px;
}

.punto-off{
	background: #490D1A !important;
	height: 9px;
	width: 9px;
	margin-top: 7px; 
}

.vent_div_nuevo_cont{
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 100%;
	font-family: ProximaNovaLight, sans-serif;
}

.punto-text-big{
	font-size: 18px;
	text-shadow: none;
	color: #000000;
}

.punto-text-small{
	font-size: 13px;	
	margin-top: 5px;
	color: #490d1a;
}

.vent_div_nuevo_cont:first-child .punto-text{
	margin-left: -2px;
}

.vent_div_nuevo_cont:last-child .punto-text{
	margin-right: -10px;
}

.vent_ind_deta_btns{
	display: inline-block;
	width: 92.8%;
	max-width: 93%;
	margin-top: 10px;
	text-align: left;
}

.vent_ind_deta_act{
	display: inline-block;
	width: 92.8%;
	max-width: 93%;
	margin-top: 10px;
	text-align: left;
}

.vent_ind_deta_btns .white-button, .vent_ind_deta_btns .color-button{
	font-family: ProximaNovaLight, sans-serif;
	font-size: 12px !important;
	padding: .8em 1.17em !important;
	margin-right: 15px;
}

.edits-button{
	text-align: center;
	display: inline-block;
	background: #490d1a;
	color: #FFF;
	font-size: 16px;
	text-shadow: none;
	padding: .55em 0;
	width: 11%;
	-webkit-border-radius: 2px;
	border-radius: 20px;
}

.vent_ind_det_fondo {
	display: inline-block;
	background: #FFF;
	width: 92.8%;
	max-width: 93%;
	box-shadow: 0px 2px 1px #C7C7C7;
	border-bottom: 1px solid #DDD;
	margin-top: 10px;
	padding-bottom: 15px;
}

.vent_ind_det_f_izq {
	display: inline-block;
	width: 15%;
	height: 100%;
	vertical-align: top;
	text-align: center;
	line-height: 1.2rem;
	color: #DF2047;
}

.vent_ind_det_f_der {
	display: inline-block;
	width: 80%;
	margin-right: 5%;
	height: 100%;
	vertical-align: top;
	text-align: left;
	font-family: ProximaNovaLight, sans-serif;
	padding-top: 4%;
	padding-bottom: 4%;
	border-bottom: 1px solid #DDD;
}

.vent_ind_der_top{
	color: #7b7b7b;
	font-size: 15px;
}

.vent_ind_der_bot{
	color: #df2047;
	font-size: 12px;
}

.vent_ind_der_mid {
	color: #7B7B7B;
	font-size: 15px;
}

.vent_ind_der_mid span{
	font-size: 12px;
}

.ico-margin{
	margin: 4px !important;
}

.vent_ind_der_top_color{
	color: #df2047;
	font-size: 14px;
}

.vent_ind_der_bot_white{
	color: #7b7b7b;
	font-size: 13px;
}

.txt_sm{
	font-size: 13px !important;
	padding-top: 3px !important;
}

.vent_ind_det_f_check{
	display: inline-block;
	width: 33.33%;
	margin-top: 15px;
	font-size: 0;
}

.vent_ind_det_f_check input{
	margin: 0 !important;
	left: 15px;
	top: 25%;
}

.vent_ind_det_f_check .ui-checkbox{
	width: 25%;
	height: 17px;
	display: inline-block;
}

.vent_ind_det_f_check label{
	font-family: ProximaNovaLight, sans-serif;
	color: #7B7B7B;
	font-size: 14px;
	width: 60%;
	padding-left: 15%;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.vent_div_linea_act {
	border-bottom: 1px solid #df2047;
	height: 10px;
	margin: 5px 0;
}

.vent_div_linea_act div{
	background: #E5E5E5;
	font-size: 15px;
	margin-top: 2px;
	color: #DF2047;
	display: inline-block;
	padding-right: 10px;
}

.vent_ind_item_porc{
	background: #2baf2b;
	height: 36px;
	width: 30%;
}

.cont_ind_deta_blank {
	display: inline-block;
	width: 92.8%;
	max-width: 93%;
	margin-top: 10px;
	text-align: left;
}

.cont_ind_deta_blank_izq {
	display: inline-block;
	font-family: ProximaNovaLight, sans-serif;
	width: 100%;
	height: 100%;
	vertical-align: top;
	text-align: center;
	line-height: 1.2rem;
	color: #DF2047;
	font-size: 18px;
}

.cont_ind_deta_blank_izq div{
	background: #FFF;
	margin: 0 15px 0 0;
	padding: 10px 25px;
	border: 1px solid #F2F2F2;
	border-bottom: 1px solid #c7c7c7;
}

#cont_deta_emp_blank_der , #cont_deta_per_blank_der{
	display: inline-block;
	width: 15%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	/*float: right;*/
}

#cont_deta_emp_blank_der div, #cont_deta_per_blank_der div{
	color: #FFF;
	font-size: 15px;
	text-shadow: none;
	width: 36px;
	height: 36px;
	display: inline-block;
	border-radius: 50%;
	background: #DF2047;
	line-height: 2.3rem;
}

.fase_tit .ui-field-contain .ui-select{
	width: 100% !important;
}

.cont_ind_deta_btns {
	display: inline-block;
	font-family: ProximaNovaLight, sans-serif;
	width: 92.8%;
	max-width: 93%;
	margin-top: 10px;
	text-align: center;
}

.cont_ind_deta_btns .color-button,  .cont_ind_deta_btns .white-button{
	font-size: 13px;
	width: 30%;
}

.cont_ind_deta_btns div:first-child{
	/*margin-right: 10px;*/
	float: left;
}

.cont_ind_deta_btns div:last-child {
	/*margin-left: 10px;*/
	float: right;
}

.cont_ind_det_fondo, .cont_ind_det_fondo_deci {
	display: inline-block;
	background: #FFF;
	width: 92.8%;
	max-width: 93%;
	box-shadow: 0px 2px 1px #C7C7C7;
	border-bottom: 1px solid #DDD;
	margin-top: 10px;
	padding-bottom: 10px;
}

.cont_ind_det_f_izq {
	vertical-align: middle;
	color: #DF2047;
	padding-left: 20px;
	padding-right: 20px;
}

.cont_ind_det_f_der {
	width: 100%;
	text-align: left;
	font-family: ProximaNovaLight, sans-serif;
	padding: 10px 0;
	border-bottom: 1px solid #DDD;
}

.cont_ind_der_top {
	color: #313131;
	font-size: 16px;
}

.cont_ind_der_bot {
	color: #9C9C9C;
	font-size: 13px;
}

.cont_ind_det_izq_ico{
	color: #DF2047;
	margin: 0;
}

.cont_ind_det_fondo .cont_ind_det_f_conta:last-child .cont_ind_det_f_der{
	border: 0;
	padding-bottom: 0;
}

#text-big-add-deci{
	background: #E5E5E5;
	font-size: 13px;
	margin-top: 2px;
	color: #DF2047;
	display: inline-block;
	height: 16px;
	border-bottom: 1px solid #DF2047;
}

.cont_ind_deta_act {
	display: inline-block;
	width: 92.8%;
	max-width: 93%;
	margin-top: 10px;
	text-align: left;
}

.cont_ind_det_izq_ico .ico-usr, .sec_cont_item_izq_ico .ico-usr{
	color: #FFF;
	font-size: 15px;
	text-shadow: none;
	width: 36px;
	height: 36px;
	display: inline-block;
	border-radius: 50%;
	background: #DF2047;
	line-height: 2.3rem;
	/* padding: 0 10px; */
	margin: 0 -10px;
}

.ico-usr:parent{
	margin: 0;
}

.cont_ind_det_fondo_deci .cont_ind_det_f_conta:first-child .cont_ind_det_f_izq .cont_ind_det_izq_ico{
	margin: 5% 0 0 0;
}

.cont_ind_det_fondo_deci .cont_ind_det_f_conta:first-child .cont_ind_det_f_der .cont_ind_der_top{
	color: #DF2047;	
}

.cont_ind_det_fondo_deci .cont_ind_det_f_conta:last-child .cont_ind_det_f_der {
	border: 0;
	padding-bottom: 0;
}

.sub-menu-nn{
	font: 8px ProximaNova, sans-serif;
	position: absolute !important;
}

.sub-menu-nn li{
	width: 100% !important;
	padding: 10px 5px;
	display: block;
	background: #80172D;
	font-size: 12px;
	word-break: break-all;
}

.ocultar{
	display: none !important; 
}

.cont_ind_deta_blank > section, .cont_ind_det_f_conta > section, .cont_item_contend_uni_emp > section, .cont_item_contend_uni_per > section{
	display: table-cell !important;
}

.cont_ind_det_f_conta{
	padding-right: 20px;
}

@media (max-width:320px){
	#cont_ind_deta_blank_der{
		/*margin-top: 12px;*/
	}

	.cont_ind_deta_btns .color-button, .cont_ind_deta_btns .white-button {
		width: 31%;
	}
}



